@import "../../../app/variables.scss";

.form3 {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  .form3_field {
    display: flex;
    flex-direction: column;
    // font-family: "made_mirage_thin";
    label {
      font-size: 27px;
      line-height: 32px;
      text-transform: uppercase;
      margin: 0 0 20px;
    }
    input {
      width: 307px;
      // background-color: $black1;
      background-color: transparent;
      border: 1px solid $white;
      border-radius: 5px;
      height: calc(3rem - 12px);
      padding: 5px 10px;
      font-size: 18px;
      text-transform: capitalize;
      color: $white;
      &:focus-visible{
        outline: none;
      }      
      &:focus{
        outline: none;
      }      
    }
    p.error {
      height: 20px;
      color: red;
    }
  }
  .submit_btn {
    margin: 0 0 20px;
  }
}
