.aboutUs_Texture_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d9d9d9;
    // padding: 250px 0px;
    overflow: hidden;
    color: black;
    position: relative;

    .aboutUs_Texture_wrapper {
        display: flex;
        gap: 5rem;
        overflow: hidden;
        padding: 100px 0 0px 80px;
        // height: 100vh;
        width: 100vw;

        @media (min-width : 1600px) {
            padding: 120px 0 0px 80px;
        }

        @media (max-width: 991px) {
            flex-direction: column;
            padding: 50px 20px;
            gap: 2rem;
        }

        .texture_left {
            padding: 60px 0;
            z-index: 100;
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 4rem;


            @media (max-width: 991px) {
                width: 100%;
                padding: 0px 0;
                gap: 0;
            }

            @media (max-width : 768px) {
                gap: 0;
            }

            .heading_text {
                text-align: right;
                text-transform: uppercase;
                font-size: 70px;
                letter-spacing: 7px;
                color: black;
                line-height: 110%;

                @media (max-width: 991px) {
                    text-align: center;
                    font-size: 40px;
                }

                @media (max-width : 768px) {
                    font-size: 35px;
                }

                @media (max-width : 475px) {
                    font-size: 25px;
                }

                .brown {
                    color: #8a5c00;
                }
            }

            .texture_section {
                display: flex;
                gap: 2rem;
                padding: 40px 0;
                align-items: flex-end;
                justify-content: end;
                letter-spacing: 5px;

                @media (max-width: 991px) {
                    justify-content: center;
                }

                @media (max-width : 475px) {
                    align-items: center;

                }

                .number {
                    font-size: 50px;
                    color: grey;
                    font-weight: 800;

                    @media (max-width : 991px) {
                        font-size: 40px;
                    }

                    @media (max-width: 768px) {
                        font-size: 30px;
                    }

                    @media (max-width : 475px) {
                        font-size: 25px;
                    }
                }

                .text {
                    font-size: 35px;
                    font-weight: bold;

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }
                }
            }
        }

        .texture_right {
            display: flex;
            flex-direction: column;
            position: relative;
            overflow-x: hidden;
            gap: 1rem;

            @media (max-width:991px) {
                //   align-items: center;
                width: 100%;
            }

            .imageBox {
                display: flex;
                flex-direction: row;
                position: relative;
                overflow-x: hidden;

                .image_box {
                    flex-shrink: 0;
                    margin-right: 40px;
                    overflow: hidden;

                    .image1 {
                        max-width: 100%;
                        height: auto;
                        // width: 100%;
                        display: block;

                        @media (max-width : 575px) {
                            height: 500px;
                        }

                    }
                }
            }

            .size_section {
                display: flex;
                justify-content: center;
                padding: 20px 0;
            }

            .size_section_inner {
                display: flex;
                width: 100%;
                background-color: #bfc1c0;
            }

            .size_left {
                flex: 1;
                background-color: #2c2c2c;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                font-size: 24px;
                font-weight: bold;

                @media (max-width : 991px) {
                    padding: 0;
                }

                p {
                    font-size: 50px;

                    @media (max-width : 768px) {
                        font-size: 35px;
                    }
                }
            }

            .size_right {
                flex: 3;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                padding: 20px 100px;
                align-items: center;

                @media (max-width : 991px) {
                    padding: 10px 100px;
                }

                >div {
                    flex: 1 1 45%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    font-size: 22px;

                    @media (max-width :768px) {
                        font-size: 20px;
                    }

                    @media (max-width : 475px) {
                        font-size: 18px;
                    }
                }

                p {
                    margin: 0;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: '▶';
                        margin-right: 10px;
                    }
                }
            }

            @media (max-width: 991px) {
                .size_section_inner {
                    width: 90%;
                }
            }

            @media (max-width: 991px) {
                .size_section_inner {
                    flex-direction: column;
                }

                .size_right {
                    justify-content: center;
                    padding: 10px 50px;
                    gap: 5px;
                }
            }


        }
    }

    // .texture_footer {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     .texture_inner {
    //       display: flex;
    //       align-items: center;
    //       justify-content: space-between;
    //       .logo_image {
    //         padding: 10px;

    //         @media (max-width: 768px) {
    //           padding: 0;
    //         }
    //       }

    //       .footer_text {
    //         flex: 1;

    //         .footer_text_inner {
    //           font-size: 35px;
    //           font-weight: 500;
    //           width: 60%;

    //           @media (max-width: 768px) {
    //             font-size: 20px;
    //           }

    //           @media (max-width: 475px) {
    //             font-size: 18px;
    //           }
    //         }
    //       }

    //       .btn {
    //         padding: 10px;

    //         @media (max-width: 768px) {
    //           padding: 0;
    //         }
    //       }
    //     }

    //     @media (max-width: 991px) {
    //       padding: 0 40px;
    //     }

    //     @media (max-width: 768px) {
    //       padding: 0 20px;
    //       .texture_inner {
    //         align-items: center;

    //         .footer_text {
    //           margin: 10px 0;
    //         }
    //       }
    //     }

    //     @media (max-width: 475px) {
    //       padding: 0 10px;
    //     }

    //     @media (max-width: 320px) {
    //       padding: 0;
    //     }
    //   }

    .texture_footer_wrapper{
        padding: 0px 10px 60px 10px;
        .texture_footer_container{
            display: flex;
            justify-content: space-between;
            gap: 5rem;
            text-align: center;

            .footer_box{
                padding: 10px;
                // border: 1px solid black;
                // width: 30%;
            }
            .footer_box_heading{
                font-size: 40px;
            }

            .footer_box_description{
                font-size: 30px;
            }
        }
    }
}