@import "../../app/variables.scss";
@import "../../fonts/fonts.scss";



.container1 {
  width: 100%;
  height: 100vh;
  // padding: 50px;
  // background-color: #f5f5f5;
  // box-shadow: 0 30px 50px #dbdbdb;
  position: relative;
  overflow: hidden;
}

.image {
  filter: brightness(0.5); // Adjust brightness as needed
  transition: filter 0.5s ease-in-out;
}

#slide {
  width: max-content;
  position: relative;
  height: 100%;
  width: 100%;
  display: inline-block;

  @media(max-width: 575px) {
    height: 85%;
  }
}


.content {
  position: absolute;
  top: 70%;
  left: 20px;
  width: 40%;
  text-align: left;
  padding: 35px;
  color: #eee;
  transform: translate(0, -50%);
  z-index: 9999;

  @media(max-width: 1199px) {
    width: 35%;
    top: 77%;
    left: 0px;
  }

  @media (max-width: 550px) {
    top: 56%;
    padding-left: 10px;
    width: 25%;
  }
}

.name {
  width: 60%;
  font-family: "safira_march";
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 0;
  z-index: 9999;
  line-height: 1.2;

  .line {
    overflow: hidden;
    display: block;
    font-size: 5vw !important;
  }
  @media(max-width: 775px) {
      width: 100%;
      overflow: auto;

    .line {
      font-size: 8vw !important;
    }
  }
}


.des {
  font-family: "futura_regular";
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.03em;
  opacity: 1;
  width: 500px;
  overflow: hidden;
  filter: none !important;
  color: #fff !important;
  display: block;
  line-height: 120%;

  @media (max-width:1024px) {
    width: 300px;
  }

  @media(max-width: 775px) {
    font-size: 16px;
  }

  @media(max-width: 575px) {
    font-size: 18px;
  }

  @media(max-width: 500px) {
    font-size: 20px;
    width: 300px;
  }

  @media(max-width: 475px) {
    width: 200px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 0px;
  }

  span {
    display: block;
    height: fit-content;
    overflow: hidden;
  }

  .line {
    display: block;
    height: fit-content;
    overflow: hidden;
  }
}

.button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  display: inline-block;
  z-index: 999999;
  position: relative;
}

.yello_btnoNe {
  overflow: hidden;
  height: fit-content;
  background-color: transparent;
  text-transform: uppercase;
  background-size: 400%;
  color: #fff;
  font-size: 18px;
  font-family: "futura_thin";
  line-height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  opacity: 1;


  .button-content-slide {
    font-size: 20px;
    font-weight: 550;
    position: relative;
    z-index: 1;
    transition: color 0.475s;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 1.4vh 2vw;


    @media (max-width: 728px) {
      font-size: 15px;
      padding: 1.4vh 1vw;
    }
  }
}

.itemone {
  width: 200px;
  height: 350px;
  background-position: 50% 50%;
  display: flex;
  transition: all 0.6s ease-in-out;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 45%;
  transform: translate(0, 0);
  // border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  width: 15%;
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.519);
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  // padding: 1vh 0;

  .slide-name {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1rem;
    font-family: "safira_march";
    font-weight: 300;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1vh;
    padding-left: 1.1vh;
  }


  @media(min-width: 1600px) {
    width: 240px;
  }

  @media (max-width: 1024px) {
    top: 70%;
    height: 250px;
  }

  @media (max-height: 800px) {
    top: 40%;
  }

  &.background .imageWrapper img {
    filter: brightness(0.5); // :white_tick: Apply brightness only to the image
  }

  &.active .imageWrapper img {
    filter: brightness(1); // :white_tick: Ensure active image is fully bright
  }

  &.background {
    filter: brightness(1);
  }

  &.active {
    z-index: 2;
    opacity: 1 !important;
  }

  .imageWrapper::before {
    display: none !important;
  }

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;

    .slide-name {
      opacity: 0;
    }
  }

  &:nth-child(3) {
    left: 50%;
  }

  &:nth-child(4) {
    left: calc(65% + 20px);
  }

  &:nth-child(5) {
    left: calc(80% + 40px);
  }

  &:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
    z-index: -1;
  }




  &:nth-child(2) {
    z-index: 1;
    filter: none;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
    }

    .content {
      display: block;
      z-index: 11111;
      filter: brightness(1) !important;

      .name,
      .des,
      .yello_btnoNe {
        filter: brightness(1) !important;
      }
    }

    .imageWrapper {
      filter: brightness(0.5);
    }
  }

  &:nth-child(1) {
    z-index: 0;
  }

}


.button-content-slide {
  font-size: 25px;
  font-weight: 550;
  position: relative;
  z-index: 1;
  transition: color 0.475s;

  @media (max-width: 575px) {
    font-size: 18px;
  }
}



.container1 .buttons {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
  bottom: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  right: 2%;

  .sliderNumber {
    font-size: 50px;
    font-family: "futura_regular";
    color: #fff;
    margin-right: 10px;
    opacity: 0.8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  @media(max-height: 540px) {
    bottom: 40px;
  }


  button {
    width: 45px;
    height: 45px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #FFEEE2;
    transition: 0.3s;
    color: #FFEEE2;
    background-color: transparent;
    z-index: 999999;
    position: relative;

    @media (max-width: 700px) {
      text-align: center;
      font-size: 20px;
    }

    &:hover {
      background: #FFEEE2;
      color: #5B3524;
    }
  }

  .straight-line {
    width: 30%;
    height: 4px;
    background-color: #FFEEE2;
    overflow: hidden;
    border-radius: 10px;

    .precentage-line {
      width: 0%;
      height: 100%;
      background-color: #5B3524;
    }
  }

  @media (max-width: 700px) {
    width: 70%;
    bottom: 15%;

    .straight-line {
      width: 15%;
    }
  }
}


@media (max-width: 992px) {

  .itemone {
    height: 200px;
    top: 76%;

    .slide-name {
      font-size: 0.7rem;
    }

    .content {
      top: 72%;
    }
  }
}

@media (max-width: 768px) {
  .itemone {
    width: 20%;
    top: 75%;

    // .slide-name {
    //   font-size: 3rem;
    // }

    &:nth-child(3) {
      left: calc(70% + 40px);
    }

    &:nth-child(4) {
      left: calc(90% + 80px);
    }

    &:nth-child(5) {
      left: calc(110% + 80px);
    }
  }
}


@media (max-width: 700px) {
  .itemone {
    width: 31%;
    height: 30%;
    top: 60%;


    &:nth-child(5) {
      left: calc(96% + 80px);
    }

    &:nth-child(3) {
      left: calc(65%);
    }

    &:nth-child(4) {
      left: calc(96% + 80px);
    }

    .content {
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      // max-width: 300px;
    }
  }

}
