.main1 {
    display: flex;
    height: 50vh;
    padding: 0 11rem;
    align-items: flex-start;
    justify-content: center;
    color: rgb(211, 211, 211);
  }
  .scroll_text_wrapper {
    position: relative;
  }
  .body1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  /* .body1 p {
    font-size: 3.4vw;
    margin: 0px;
    font-family: "Dream Avenue";
    margin-right: 1.2vw;
    font-weight: 300;
  } */

  .currentText{
    position: absolute;
    left: 46%;
    top: 300px;
    font-size: 52px;
    /* font-family: "futura_regular"; */
    font-weight: bold;
  }

  .body1 span {
    opacity: 0.4;
  }
  @media (min-width: 1600px) and (max-width: 1920px) {
    .main1 {
      padding: 0 12rem;
    }
  }
  @media screen and (max-width: 1200px) {
    .main1 {
      height: 42vh;
      padding: 0 8rem;
    }
    .body1 p {
      font-size: 4vw;
    }
  }
  @media screen and (max-width: 1024px) {
    .main1 {
      height: 42vh;
      padding: 0 8rem;
    }
    .body1 p {
      font-size: 4vw;
    }
  }
  @media (min-width: 500px) and (max-width: 768px) {
    .main1 {
      height: 40vh;
      padding: 0 2rem;
    }
    .body1 p {
      font-size: 5.5vw;
    }
  }
  /* @media (max-width: 575px) {
    .body p {
      font-size: 7.5vw;
      margin: 0px;
      margin-right: 1.8vw;
      font-weight: 300;
    }
    .main {
      height: 55vh;
      padding: 0 2rem;
    }
  } */
  @media (min-width: 376px) and (max-width: 500px) {
    .body1 p {
      font-size: 7vw;
      margin: 0px;
      margin-right: 1.8vw;
      font-weight: 300;
    }
    .main1 {
      height: 40vh;
      padding: 0 1.6rem;
    }
  }
  @media (min-width: 200px) and (max-width: 375px) {
    .body1 p {
      font-size: 8vw;
      margin: 0px;
      margin-right: 1.8vw;
      font-weight: 300;
    }
    .main1 {
      height: 40vh;
      padding: 0 1.6rem;
    }
  }