// @import "../../app/variables.scss";
// @import "../../fonts/fonts.scss";

// .aboutUs_vision_outer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   overflow: hidden;
//   padding: 50px 0;

//   .vision_heading {
//     font-size: 70px;
//     text-align: center;
//     font-weight: bold;
//     letter-spacing: 5px;
//     text-transform: uppercase;

//     @media (max-width : 768px) {
//       font-size: 50px;
//     }

//     @media (max-width : 320px) {
//       font-size: 30px;
//     }
//   }

//   .header_section {
//     display: flex;
//     justify-content: space-between;
//     padding: 40px 15px 10px 15px;

//     @media (max-width : 768px) {
//       flex-direction: column;
//       gap: 1rem;
//       padding: 40px 30px 10px 30px;
//     }

//     .section_left {
//       font-size: 50px;
//     }

//     .section_right {
//       width: 57%;
//       font-size: 20px;

//       @media (max-width : 768px) {
//         width: 100%;
//       }
//     }
//   }

//   .vision_video {
//     padding-top: 2rem;
//     position: relative;


//     .vision_image_outer {
//       max-width: 100%;
//       height: auto;
//       display: block;
//       text-align: center;
//       margin: 0 auto;
//     }

//     .vision_playButton {
//       display: block;
//       width: 150px;
//       height: 150px;
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       cursor: pointer;
//       transform: translate(-50%, -50%);
//     }

//   }

//   .progress-bar {
//     position: relative;
//     width: 600px;
//     height: 10px;
//     background-color: #ddd;
//     // border-radius: 5px;
//     margin: 20px 10px;

//     @media (max-width : 768px) {
//       width: 300px;
//       margin: 20px 25px;
//     }

//     @media (max-width : 575px) {
//       display: none;
//     }

//     .progress {
//       position: absolute;
//       top: 0;
//       left: 0;
//       height: 100%;
//       background-color: #FFBC37;
//       // border-radius: 5px;
//       width: 0;
//     }
//   }

//   .aboutUs_vision_bottom {
//     display: flex;
//     justify-content: space-between;
//     padding: 10px;

//     @media (max-width : 768px) {
//       justify-content: center;
//       align-items: center;
//     }

//     .vision_text_bottom {
//       font-size: 20px;
//       width: 60%;

//       @media (max-width : 768px) {
//         display: none;
//       }
//     }
//   }
// }

.aboutUs_vision_outer {
  padding: 150px 100px;
  overflow: hidden;

  @media (max-width : 475px) {
    padding: 0 50px;
  }

  .vision_header {
    text-align: center;
    margin: 50px 0 0;
    border: 1px solid white;
    position: relative;


    @media (max-width : 575px) {
      border: none;
    }

    .headerText {
      font-size: 60px;
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(28, 33, 30);
      padding: 0 20px;
    }
  }

  .aboutUs_Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    // gap: 3rem;



    @media (max-width : 768px) {
      flex-wrap: wrap;
      padding: 60px 0;
    }

    // .vision_video {
    //   padding-top: 2rem;
    //   position: relative;

    //   .video_iframe {
    //     width: 100%;
    //     height: 40vh;
    //     object-fit: cover;
    //   }


    //   .vision_image_outer {
    //     max-width: 100%;
    //     height: auto;
    //     display: block;
    //     text-align: center;
    //     margin: 0 auto;
    //   }

    //   .vision_playButton {
    //     display: block;
    //     width: 100px;
    //     height: 100px;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     cursor: pointer;
    //     transform: translate(-50%, -50%);

    //     @media (max-width : 991px) {
    //       width: 60px;
    //       height: 60px;
    //     }
    //   }

    // }

    // .video_description {
    //   padding: 10px;

    //   .title {
    //     font-size: 50px;

    //     @media (max-width : 991px) {
    //       font-size: 40px;
    //     }
    //   }
    // }

    .video_section {
      .vision_video {
        padding-top: 2rem;
        position: relative;


        .vision_image_outer {
          max-width: 100%;
          height: auto;
          display: block;
          text-align: center;
          margin: 0 auto;
        }

        .vision_playButton {
          display: block;
          width: 100px;
          height: 100px;
          position: absolute;
          left: 50%;
          top: 50%;
          cursor: pointer;
          transform: translate(-50%, -50%);
        }

      }
    }
    .video_description{
      width: 50%;
      text-align: center;
      
      .title{
        font-size: 50px;
      }
      .description{
        font-size: 30px;
      }
    }
  }
}