@import "../../app/variables.scss";
@import "../../fonts/fonts.scss";
header {
  // padding: 20px 25px 0;
  // padding: 22px 50px 0 104px;
  padding: 22px 50px 0 50px;
  position: absolute;
  top: 0;
  z-index: 9;
  width: -webkit-fill-available;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    .logo {
      // flex: 1;
      // padding-left: 110px;
      padding-left: 20px;
      @media (min-width: 1500px) {
        padding-left: 25px;
      }
      @media (max-width: 1024px) {
        padding-left: 20px;
      }
      img {
        max-width: 100%;
        display: block;
        // margin-left: 23px;
        @media (max-width: 1199px) {
          width: 222px;
        }
      }
    }
    ul {
      // flex: 1;
      display: flex;
      align-items: center;
      gap: 40px;

      @media (max-width: 1199px) {
        gap: 20px;
      }
      &.dark {
        li {
          // height: 15px;
          a {
            color: $black;
          }
        }
      }
      &.light {
        li {
          // height: 15px;
          a {
            color: $white;
          }
        }
      }
      li {
        width: 100px;

        a {
          text-decoration: none;
          text-transform: uppercase;
          position: relative;
          transition: all 0.4s;
          display: inline-flex;
          &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            width: 100%;
            height: 1px;
            background-color: $black;
            transform: scale(0);
            transition: all 0.4s;
          }
          &:hover::before {
            transform: scale(1);
          }
        }
      }
      .ProductsLi {
        position: absolute;
        background-color: #fff5ed;
        padding: 20px;
        border-radius: 5px;
        width: 100vw;
        height: 49vh;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media(min-width: 1900px){
          height: 45vh;
        }
        @media (max-width: 991px) {
          flex-direction: column;
          width: 90vw;
          height: auto;
        }
        .ProductsLi1{
          display: flex;
          position: absolute;
          // width: 100vw;
          left: 35%;
          top: 4%;
        }
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: space-between;
          height: 100%;
          gap: 30px;
          padding-top: 1rem;
          li {
            width: 100%;
            display: flex;
            align-items: center;
            // gap: 1rem;
            svg {
              opacity: 0; // Initially hidden
              transition: opacity 0.3s ease-in-out;
            }
      
            &:hover svg {
              opacity: 1; // Show SVG on hover
            }
          }
          a {
            // margin-left: 7px;
            font-size: 17px;
            color: #5b3524;
            width: 200px;
          }
        
        }
        .sub-submenu-image{
          padding-left: 65px;
          margin-top: 10px;
          @media(min-width: 1900px){
            margin-top: 19px;
          }
        }
      }

      .side_logo img {
        height: 40px;
        width: 40px;
        margin-top: -3px;
        // margin-left: 20px;
        @media (max-width: 1199px) {
          margin-left: 10px;
        }
      }
    }
  }
}

