@import "../../app/variables.scss";
@import "../../fonts/fonts.scss";
header {
  // padding: 20px 25px 0;
  // padding: 22px 50px 0 104px;
  padding: 22px 50px 0 50px;
  position: absolute;
  top: 0;
  z-index: 9;
  width: -webkit-fill-available;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    .logo {
      
      padding-left: 110px;
      @media(min-width: 1500px){
      padding-left: 90px;
      }
      img {
        max-width: 100%;
        display: block;
        // margin-left: 23px;
        @media (max-width: 1199px) {
          width: 222px;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      @media (max-width: 1199px) {
        gap: 20px;
      }
      &.dark {
        li {
          a {
            color: $black;
          }
        }
      }
      &.light {
        li {
          a {
            color: $white;
          }
        }
      }
      li {
        a {
          text-decoration: none;
          text-transform: uppercase;
          position: relative;
          transition: all 0.4s;
          &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            width: 100%;
            height: 1px;
            background-color: $black;
            transform: scale(0);
            transition: all 0.4s;
          }
          &:hover::before {
            transform: scale(1);
          }
        }
      }
      .side_logo img{
        height: 40px;
    width: 40px;
    margin-top: -3px;
        // margin-left: 20px;
        @media (max-width: 1199px) {
          margin-left: 10px;
        }
      }
    }
  }
}
