@import "../../fonts/fonts.scss";
.ThreedSliderMain {
  .swiper-button-next,
  .swiper-button-prev {
    color: #5B3524 !important;
    font-weight: 900;
    
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    display: none;
  }
  .swiper-button-next {
    left: 63%;
    .SvgBtnSlider{
      width: 500px;
      height: 70px;
      display: block;
    }
  }

  .swiper-button-prev {
    left: 37.5%;
    .SvgBtnSlider{
      width: 500px;
      height: 70px;
      display: block;
    }
  }
    .ThreeText{
      border-top: 1px solid #5B3524;
      padding-top: 2rem;
    }
    .ThreeTextInner{
      font-size: 48px;
      text-align: center;
      margin: 0 auto;
      width: 40%;
      text-transform: uppercase;
      font-weight: 400;
    }
    .ThreeTextInnerFirst{
      font-size: 18px;
      text-align: center;
      width: 40%;
      margin: 0 auto;
      padding: 5px 0;
    }

  .MainContainer {
    // width: 100%;  
  }
  .Carousel_Slider_container{
    // width: 100%;
    @media(max-width: 1440px){
      // width: 115%;
    }
  }
.SliderThreeContent{
  .SliderThreeContentTEXT{

  }
  .SliderThreeContentTEXTInner{
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .SliderThreeImages{
    width: 100%;
    height: auto;
    display: block;
  }
}
}
