.whyUsContainer {
  background-color: #ffeee2;
  color: #5b3524;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 150px;
  flex-direction: column;

  @media (max-width: 1300px) {
    padding: 100px 100px;
  }

  @media (max-width: 1200px) {
    padding: 100px 80px;
  }

  @media (max-width: 1025px) {
    padding: 100px 20px;
  }

  .whyUsWrapper {
    width: 100%;
    max-width: 1200px;
    // padding: 0 0px 0px 10px;

    .whyusHeader {
      text-align: center;
      font-size: 24px;
      letter-spacing: 8px;
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: "safira_march";
    }

    .whyUsCardWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .cardouter_1,
      .cardouter_3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 70px 40px 40px 40px;
        position: relative;

        @media (max-width: 425px) {
          padding: 30px 20px;
        }

        .card_header {
          font-size: 60px;

          @media (max-width: 425px) {
            font-size: 30px;
          }
        }

        .cardSvg {
          color: #5b3524;
          position: absolute;
          right: 20px;
          top: 30px;
          cursor: pointer;
        }

        .card_description {
          font-family: "futura_thin";
          font-size: 21px; // Adjust description font size
          padding: 15px 0px 30px 0px;

          @media (max-width: 425px) {
            font-size: 18px;
          }
        }

        .card-button {
          margin-top: auto;
          // @media(max-width:1500px){
          //     margin: auto;
          // }
          // @media(max-width: 991px){
          //     margin: auto;
          // }
        }
      }

      .cardouter_1 {
        background-color: #edd7c2;
        position: relative;
        transition: all 0.5s ease;

        &:hover {
          background: rgb(250, 249, 246); /* Slightly transparent background */
          backdrop-filter: blur(10px); /* Blur effect */
          // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
          // border: 1px solid rgba(255, 255, 255, 0.18); /* Border to enhance glass effect */
        }
      }

      .cardouter_2 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        transition: all 0.5s ease;

        &:hover {
          // backdrop-filter:;
          background: rgb(250, 249, 246);
          // backdrop-filter: blur(2px);
        }

        .cardinner_1,
        .cardinner_2 {
            display: flex;
            flex-direction: column;
          padding: 40px 50px 25px 50px;
          @media (max-width: 1300px) {
            padding: 40px 50px 0px 50px;
          }
          @media (max-width: 425px) {
            padding: 30px 20px;
          }

          .card_description {
            font-family: "futura_thin";
            font-size: 21px; // Adjust description font size
            padding: 20px 0;

            @media (max-width: 425px) {
              font-size: 18px;
            }
          }
        }

        .cardinner_1 {
          background-color: #d5ad86;
          position: relative;
          transition: all 0.5s ease;

          .cardSvg {
            color: #5b3524;
            position: absolute;
            right: 20px;
            top: 35px;
            cursor: pointer;
          }

          .card-button {
            margin-bottom: 15px;

            @media (max-width: 425px) {
              margin-bottom: 0;
              margin-top: 18px;
            }
          }

          &:hover {
            // backdrop-filter:;
            background: rgb(250, 249, 246);
            // backdrop-filter: blur(2px);
          }
        }

        .cardinner_2 {
          background-color: #e3c7ac;
          transition: all 0.5s ease;

          .card-button {
            margin-top: 25px;
            @media (max-width: 991px) {
              margin-top: auto;
            }
          }

          &:hover {
            // backdrop-filter:;
            background: rgb(250, 249, 246);
          }
        }
      }

      .cardouter_3 {
        background-color: #e1c1a1;
        transition: all 0.5s ease;

        .card_header {
          font-size: 60px;

          @media (max-width: 425px) {
            font-size: 30px;
          }
        }

        .card_description {
          font-size: 21px; // Adjust description font size
          padding: 5px 0px 30px 0px;

          @media (max-width: 425px) {
            font-size: 18px;
          }
        }

        &:hover {
          background: rgb(250, 249, 246);
        }
      }
    }
  }
}
