@import "../../app/variables.scss";
@import "../../fonts/fonts.scss";
.first_top{
  padding: 0px 0 100px 0;

  @media (max-width : 991px) {
    padding: 50px 0 100px 0;
  }
}
#sticky_top {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #FFEEE2;
  color: $white;
  text-transform: uppercase;
  // padding: 50px 30px;

  @media (max-width : 575px) {
    padding: 0 50px;
  }

  .products-tabs{
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    
    @media (max-width : 768px) {
      font-size: 16px;
      grid-template-columns: repeat(2 , 1fr);
      gap: 10px;
    }

    @media (max-width : 575px) {
      font-size: 14px;
      gap: 10px;
    }

    @media (max-width : 475px) {
      font-size: 11px;
    }

    @media (max-width : 375ppx) {
      font-size: 9px;
    }
    .tab-item {
      a{
        font-weight: bold;
        color: $white
      }

      .active{
        border-bottom: 1px solid black;
        max-width: max-content;
        font-family: "made_mirage_bold";
      }
    }
  }
}

.active{
  font-family: "made_mirage_bold";
}

.input-container {
  display: flex;
}

.dropdown-label {
  margin-bottom: 5px;
  @media (max-width: 575px) {
    font-size: 15px;
    width: 15%;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 18px;
  }
}

.p-dropdown-panel {
  .p-dropdown-items-wrapper {
    max-height: 200px;
    margin-top: 3px;
    border: 1px solid $white;
    backdrop-filter: blur(20px);

    &::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar */
      height: 680px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffbc37; /* Scrollbar thumb color */
    }

    &::-webkit-scrollbar-track {
      background-color: #d9d9d91f; /* Scrollbar track color */
    }
  }

  .p-dropdown-item {
    padding: 2px 6px;
    transition: all .5s ease;
  }

  .p-dropdown-item:hover {
    background-color: rgb(255, 188, 55);
    color: black;
  }
}



.category-select {
  padding: 5px 5px;
  border: 1px solid $white;

  @media (max-width: 575px) {
    padding: 8px 8px;
    gap: 1rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    padding: 10px 20px;
    gap: 1rem;
  }
}

.color-select {
  padding: 10px 10px;
  border: 1px solid $white;
  color : $white;

  @media (max-width: 575px) {
    padding: 8px 8px;
    gap: 1rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    padding: 10px 20px;
    gap: 1rem;
  }

  .color-select .p-dropdown-item {
    display: flex;
  }
}


.dropdown1 {
  display: flex;
  flex-direction: column;
  // background-color: #FFEEE2;
  @media (max-width: 575px) {
    width: 33.33%;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    width: 33.33%;
  }
}

.products_name {
  text-align: center;
  font-size: 30px;
  padding: 1rem;
  background-color: rgb(28, 33, 30);
  letter-spacing: 5px;
  color: rgba(89, 89, 89, 0.35);
  font-weight: 500;

  @media (min-width : 1600px) {
    font-size: 50px;
    padding: 2rem;
  }
  @media (max-width: 575px) {
    font-size: 25px;
    padding: 1rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 30px;
    padding: 1rem;
  }
}

.supply {
  display: flex;
  // justify-content: space-evenly;
  padding: 0rem 5rem 0rem 5rem;
  gap: 4rem;
  @media (max-width: 575px) {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  @media (min-width: 1600px) and (max-width: 1920px) {
  }
}

#sticky {
  position: sticky;
  background-color: #FFEEE2;
  width: 30%;
  top: 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  @media (min-width : 1600px) {
   top: 200px;
   height: 100%;
   gap: 1.6rem;                                                                         
  }

  @media (max-width : 1180px) {
    top: 135px;
  }

  @media (max-width: 575px) {
    flex-direction: row;
    width: 100%;
    top: 115px;
    overflow-y: auto;
    padding: 0 0 20px 0;
    z-index: 99;
  }

  @media (max-width : 460px) {
    top: 135px;
    z-index: 99;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    flex-direction: row;
    top: 135px;
    width: 100%;
    overflow-y: auto;
    padding: 0 0 30px 0;;
    z-index: 99;
  }
}
.container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 18px;

  

  @media (max-width: 575px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 18px;
  }

  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    width: 100%;
  }

  .product {
    position: relative;
    // overflow: hidden;
    cursor: pointer;

    @media (max-width: 575px) {
      display: flex;
      justify-content: center;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      // background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}

.container div {
  overflow: hidden;
  @media (max-width: 575px) {
    display: flex;
    justify-content: center;
  }
}

.wide {
  grid-column: auto;
}
.tall {
  grid-row: auto;
}
.big {
  grid-column: auto;
  grid-row: auto;

  @media (max-width : 1275px) {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  @media (max-width : 1025px) {
    grid-column: span 2 !important;
    grid-row: span 2 !important;
  }

  @media (max-width : 767px) {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  @media (max-width : 580px) {
    grid-column: span 2 !important;
    grid-row: span 2 !important;
  }
}

/* Media Query Start for Mobile phones */
@media (min-width: 300px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
    grid-gap: 16px;
  }
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .container {
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
    grid-gap: 16px;
  }
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  }
}

.color_dropdown {
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
  row-gap: 17px;
  @media (min-width: 1600px) and (max-width: 1920px) {
    column-gap: 22px;
    row-gap: 17px;
  }
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7,
.color8 {
  width: 60px;
  height: 40px;
  cursor: pointer;
  @media (min-width: 1600px) and (max-width: 1920px) {
    width: 80px;
    height: 40px;
  }
}

.color1 {
  background-color: white;
  border: 2px solid white;
}

.color2 {
  background: rgba(254, 197, 84, 1);
  border: 2px solid rgba(254, 197, 84, 1);
}

.color3 {
  background-color: rgba(89, 89, 89, 1);
  border: 2px solid rgba(89, 89, 89, 1);
}

.color4 {
  background-color: rgba(149, 254, 84, 1);
  border: 2px solid rgba(149, 254, 84, 1);
}

.color5 {
  background-color: rgba(90, 59, 12, 1);
  border: 2px solid rgba(90, 59, 12, 1);
}

.color6 {
  background-color: rgba(84, 213, 254, 1);
  border: 2px solid rgba(84, 213, 254, 1);
}

.color7 {
  background-color: rgba(226, 20, 131, 1);
  border: 2px solid rgba(226, 20, 131, 1);
}

.color8 {
  background-color: rgba(179, 179, 179, 1);
  border: 2px solid rgba(179, 179, 179, 1);
}

.color1:hover,
.color2:hover,
.color3:hover,
.color4:hover,
.color5:hover,
.color6:hover,
.color7:hover,
.color8:hover {
  // border: 2px solid rgb(255, 255, 255);
  filter: brightness(80%);
}
