@font-face {
  font-family: "futura_light";
  src: url(./FUTURA45LIGHT.TTF);
}
@font-face {
  font-family: "futura_light_italic";
  src: url(./FUTURA46LIGHTITALIC.TTF);
}
@font-face {
  font-family: "futura_regular";
  src: url(./FUTURA55REGULAR.TTF);
  
}
@font-face {
  font-family: "futura_regular_italic";
  src: url(./FUTURA56ITALIC.TTF);
  
}
@font-face {
  font-family: "futura_medium";
  src: url(./FUTURA65MEDIUM.TTF);
  
}
@font-face {
  font-family: "futura_medium_italic";
  src: url(./FUTURA66MEDIUMITALIC.TTF);
  
}
@font-face {
  font-family: "futura_bold";
  src: url(./FUTURA75BOLD.TTF);
  
}
@font-face {
  font-family: "futura_bold_italic";
  src: url(./FUTURA76BOLDITALIC.TTF);
  
}
