@font-face {
  font-family: "made_mirage_thin";
  src: url(./MADE-Mirage-Thin.otf);
}

@font-face {
  font-family: "made_mirage_bold";
  src: url(./MADE-Mirage-Bold.otf);
}

@font-face {
  font-family: "made_mirage_regular";
  src: url(./MADE-Mirage-Regular.otf);
}

@font-face {
  font-family: "made_mirage_medium";
  src: url(./MADE-Mirage-Medium.otf);
  
}
@font-face {
  font-family: "made_mirage_black";
  src: url(./MADE-Mirage-Black.otf);
  
}





@font-face {
  font-family: "futura_regular";
  src: url(./FUTURA55REGULAR.TTF);
  
}
@font-face {
  font-family: "futura_medium";
  src: url(./FUTURA65MEDIUM.TTF);
  
}
@font-face {
  font-family: "futura_bold";
  src: url(./FUTURA75BOLD.TTF);
  
}

// @font-face {
//   font-family: "futura_bold";
//   src: url(./FUTURA75BOLD.TTF);
  
// }
// @font-face {
//   font-family: "futura_bold_italic";
//   src: url(./FUTURA76BOLDITALIC.TTF);
  
// }
