.BlogsMainContainer {
  padding-top: 8rem;
  padding: 150px 50px;
  @media(max-width: 575px){
    padding: 100px 50px 75px;
  }
  p {
    font-size: 55px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 2rem;
      border-bottom: 2px solid #5B3524;
    }
  }
}
