.MainSwiperthreedContainer {
	width: 100%;
}
.MainSwiperthreedContainer .swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-active):not( .swiper-slide-next) {
	opacity: 0 !important;
}
.MainSwiperthreedContainer .swiper-slide-prev, .MainSwiperthreedContainer .swiper-slide-next {
	opacity: 0.6 !important;
}
.MainSwiperthreedContainer .swiper-button-next, .MainSwiperthreedContainer .swiper-button-prev {
	color: #5b3524 !important;
	font-weight: 900;
	top: 54%;
}
.MainSwiperthreedContainer .swiper-button-prev:after, .MainSwiperthreedContainer .swiper-button-next:after {
	display: none;
}
.MainSwiperthreedContainer .swiper-button-next {
	left: 63%;
}
.MainSwiperthreedContainer .swiper-button-next .SvgBtnSlider {
	width: 500px;
	height: 70px;
	display: block;
}
@media (max-width: 1024px) {
	.MainSwiperthreedContainer .swiper-button-next .SvgBtnSlider {
		height: 60px;
   }
}
@media (max-width: 425px) {
	.MainSwiperthreedContainer .swiper-button-next .SvgBtnSlider {
		height: 45px;
   }
}
@media (max-width: 375px) {
	.MainSwiperthreedContainer .swiper-button-next .SvgBtnSlider {
		height: 35px;
   }
}
.MainSwiperthreedContainer .swiper-button-prev {
	left: 35.5%;
}
@media (max-width: 425px) {
	.MainSwiperthreedContainer .swiper-button-prev {
		left: 31.5%;
   }
}
@media (max-width: 375px) {
	.MainSwiperthreedContainer .swiper-button-prev {
		left: 28.5%;
   }
}
.MainSwiperthreedContainer .swiper-button-prev .SvgBtnSlider {
	width: 500px;
	height: 70px;
	display: block;
}
@media (max-width: 1024px) {
	.MainSwiperthreedContainer .swiper-button-prev .SvgBtnSlider {
		height: 60px;
   }
}
@media (max-width: 425px) {
	.MainSwiperthreedContainer .swiper-button-prev .SvgBtnSlider {
		height: 45px;
   }
}
@media (max-width: 375px) {
	.MainSwiperthreedContainer .swiper-button-prev .SvgBtnSlider {
		height: 35px;
   }
}
.MainSwiperthreedContainer .ThreeText {
	border-top: 1px solid #5b3524;
	padding-top: 2rem;
}
.MainSwiperthreedContainer .ThreeTextInner {
	font-size: 48px;
	text-align: center;
	margin: 0 auto;
	width: 40%;
	text-transform: uppercase;
	font-weight: 400;
}
@media (max-width: 1024px) {
	.MainSwiperthreedContainer .ThreeTextInner {
		width: 80%;
   }
}
@media (max-width: 768px) {
	.MainSwiperthreedContainer .ThreeTextInner {
		font-size: 42px;
		width: 80%;
   }
}
@media (max-width: 575px) {
	.MainSwiperthreedContainer .ThreeTextInner {
		font-size: 30px;
		padding-bottom: 1rem;
   }
}
@media (max-width: 575px) {
	.MainSwiperthreedContainer .ThreeTextInner {
		font-size: 25px;
   }
}
.MainSwiperthreedContainer .ThreeTextInnerFirst {
	font-size: 18px;
	text-align: center;
	width: 40%;
	margin: 0 auto;
	padding: 5px 0;
}
@media (max-width: 1024px) {
	.MainSwiperthreedContainer .ThreeTextInnerFirst {
		width: 70%;
   }
}
@media (max-width: 768px) {
	.MainSwiperthreedContainer .ThreeTextInnerFirst {
		font-size: 18px;
		width: 80%;
   }
}
.MainSwiperthreedContainer .swiperContainerOne {
	height: 60% !important;
}
.MainSwiperthreedContainer .swiper-slide {
	text-align: center;
	font-size: 18px;
	height: 100%;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	transition: 0.3s all;
}
.MainSwiperthreedContainer .SliderThreeContent .SliderThreeContentTEXTInner {
	font-size: 45px;
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
	font-weight: 500;
}
@media (min-width: 1550px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeContentTEXTInner {
		font-size: 60px;
   }
}
@media (max-width: 1024px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeContentTEXTInner {
		font-size: 35px;
   }
}
@media (max-width: 768px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeContentTEXTInner {
		font-size: 35px;
   }
}
@media (max-width: 425px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeContentTEXTInner {
		font-size: 18px;
		padding: 10px 0;
   }
}
@media (max-width: 325px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeContentTEXTInner {
		padding: 10px 0;
   }
}
.MainSwiperthreedContainer .SliderThreeContent .SliderThreeImages {
	width: 100% !important;
	height: 60vh !important;
	display: block !important;
}
@media (max-width: 1024px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeImages {
		height: 50vh !important;
   }
}
@media (max-width: 575px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeImages {
		height: 35vh !important;
   }
}
@media (max-width: 475px) {
	.MainSwiperthreedContainer .SliderThreeContent .SliderThreeImages {
		height: 20vh;
   }
}
.MainSwiperthreedContainer .SecondThumbsSwiper .mySwiperThumbs {
	text-align: center !important;
	margin: 0 auto !important;
}
.MainSwiperthreedContainer .SecondThumbsSwiper .Carousel_text_maincontent {
	color: #672202;
}
.MainSwiperthreedContainer .SecondThumbsSwiper .Text_InnerText {
	padding-top: 1rem;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	font-size: 18px;
	padding-bottom: 1.5rem;
}
@media (max-width: 575px) {
	.MainSwiperthreedContainer .SecondThumbsSwiper .Text_InnerText {
		width: 80%;
		font-size: 18px;
   }
}
.MainSwiperthreedContainer .SecondThumbsSwiper .SliderBtnOuter {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
