@import "../../app/variables.scss";
@import "../../fonts/fonts.scss";

.Establishment_timeline_outer {
  // padding-bottom: 20rem;
  padding: 50px 0px 200px 0;
  overflow: hidden;
}

.Establishment_header {
  text-align: center;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;

  .Establishment_header_1 {
    // font-weight: 500;
    font-family: "made_mirage_regular";
  }

  .Establishment_header_bottom {
    font-family: "made_mirage_regular";
  }
}

.Establishment_timeline_main_outer {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  line-height: 1.5;
  font-weight: 400;
  margin-top: -210px;
}

.Establishment_timeline {
  position: relative;
  min-height: 150px;
}

.Establishment_line {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  width: 2px;
  top: 63px;
  bottom: -90px;
  border-right: 2px solid;
}

.Establishment_section {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  z-index: 1;
  margin-top: 15rem;
  align-items: center;
  min-height: 290px;
}

.Establishment_bead_outer {
  background: #FFEFE3;
  height: 50px;
  text-align: center;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #5B3524;
}

.Establishment_timeline_comment {
  font-size: 18px;
  width: 250px;
  font-family: "futura_thin";
  /* margin-bottom: -13rem; */
  position: absolute;
  top: 83%;
  left: 30%;
  text-align: left;
}

.two {
  font-weight: 400;
  letter-spacing: 1px;
}

.Establishment_content {
  color: #5B3524;
  position: absolute;
  width: 40%;
  top: 158px;
  right: -11rem;
  padding-bottom: 5rem;
  opacity: 0;
}

.Establishment_bead {
  color: #5B3524;
  display: table-cell;
  height: 60px;
  border-radius: 50%;
  width: 60px;
}

.Establishment_timeline_year {
  font-size: 65px;
  color: #5B3524;
  opacity: 0;
  position: absolute;
  top: 6.6rem;
  left: 31rem;
  font-family: "made_mirage_thin";
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .Establishment_timeline_year {
    font-size: 87px;
    color: #5B3524;
    opacity: 0;
    position: absolute;
    top: 6.6rem;
    left: 36rem;
  }

  .Establishment_timeline_comment {
    font-size: 18px;
    width: 320px;
    margin-bottom: 1rem;
    position: absolute;
    top: 95%;
    left: 27%;
    text-align: left;
    opacity: 0;
  }
}

@media (max-width: 1440px) {
  .Establishment_timeline_year {
    font-size: 65px;
    color: #5B3524;
    opacity: 0;
    position: absolute;
    top: 6.6rem;
    left: 23rem;
  }

  .Establishment_content {
    color: #5B3524;
    position: absolute;
    width: 43%;
    top: 158px;
    right: -11rem;
    padding-bottom: 5rem;
    opacity: 0;
  }

  .Establishment_timeline_comment {
    font-size: 18px;
    width: 280px;
    /* margin-bottom: -13rem; */
    position: absolute;
    top: 83%;
    left: 24%;
    text-align: left;
    opacity: 0;
  }
}

@media (max-width : 1300px) {
  .Establishment_timeline_year {
    left: 26%;
  }
}

@media (max-width: 1024px) {
  .Establishment_content {
    right: -9rem;
  }
}



@media (max-width: 1199px) {
  .Establishment_timeline_year {
    font-size: 57px;
    color: #5B3524;
    opacity: 0;
    position: absolute;
    top: 6.7rem;
    left: 22%;
  }

  .Establishment_timeline_comment {
    font-size: 18px;
    width: 250px;
    /* margin-bottom: -13rem; */
    position: absolute;
    top: 75%;
    left: 19%;
    opacity: 0;
  }
}

@media (max-width: 991px) {
  .Establishment_header{
    padding-bottom: 5rem;
  }
  .Establishment_timeline_outer{
    padding: 50px 20px 280px 20px;
  }
  .Establishment_line {
    position: absolute;
    z-index: 1;
    left: 12%;
    transform: translateX(-50%);
    width: 2px;
    top: 135px;
    bottom: -200px;
    border-right: 2px solid black;
  }

  .Establishment_timeline_image {
    height: 100%;
    margin-top: 3rem;
  }

  .Establishment_bead_outer {
    left: 9%;
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .Establishment_content {
    color: #5B3524;
    position: absolute;
    width: 68%;
    top: 210px;
    /* right: 45px; */
    // right: 15rem;
    padding-bottom: 0;
    padding-top: 4rem;
    opacity: 0;
  }

  .Establishment_timeline_comment {
    font-size: 15px;
    width: 500px;
    margin-bottom: 0.5rem;
    top: 70%;
    left: 23%;
    text-align: left;
  }

  .Establishment_timeline_heading {
    font-size: 45px;
    margin-bottom: 0rem;
    font-weight: 400;
    padding-top: 3rem;
    color: #5B3524;
    text-align: center;
  }

  .Establishment_timeline_year {
    font-size: 40px;
    color: #5B3524;
    opacity: 0;
    position: absolute;
    top: 8rem;
    left: 13rem;
  }
}

@media (max-width: 767px) {
  .Establishment_timeline_main_outer{
    margin-top: 0;
  }
  .Establishment_line {
    position: absolute;
    z-index: 1;
    left: 12%;
    transform: translateX(-50%);
    width: 2px;
    top: 63px;
    bottom: -168px;
    border-right: 2px solid black;
  }

  .Establishment_timeline_image {
    height: 100%;
    width: 55%;
  }

  .Establishment_bead_outer {
    left: 9%;
    display: flex;
    position: absolute;
    justify-content: center;
    height: 40px;
    width: 40px;
  }

  .Establishment_content {
    color: #5B3524;
    position: absolute;
    width: 54%;
    top: 100%;
    right: 1rem;
    padding-bottom: 0;
    padding-top: 3rem;
    opacity: 0;
  }

  .Establishment_timeline_comment {
    font-size: 15px;
    width: 400px;
    margin-bottom: 1rem;
    top: 64%;
    left: 28%;
  }

  .Establishment_timeline_heading {
    font-size: 45px;
    margin-bottom: 0rem;
    font-weight: 400;
    padding-top: 3rem;
    color: #5B3524;
    text-align: center;
  }

  .Establishment_timeline_year {
    font-size: 30px;
    color: #5B3524;
    opacity: 0;
    position: absolute;
    top: 5rem;
    left: 12rem;
  }

  .Establishment_section {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    z-index: 1;
    margin-top: 0;
    align-items: center;
    min-height: 220px;
    margin-bottom: 18rem;
  }
}

@media (max-width: 575px) {
  .Establishment_header{
    font-size: 40px;
  }
  .Establishment_timeline_outer{
    padding: 50px 30px 200px 30px;
  }
  .Establishment_line {
    position: absolute;
    z-index: 1;
    left: 12%;
    transform: translateX(-50%);
    width: 2px;
    top: 63px;
    bottom: -168px;
    // border-right: 2px solid #0f8a83;
    border-right: 2px solid black;
  }

  .Establishment_timeline_comment {
    font-size: 14px;
    width: 400px;
    margin-bottom: 1rem;
    top: 67%;
    left: 28%;
  }

  .Establishment_timeline_image {
    height: 100%;
    width: 65%;
    margin-top: 5rem;
  }

  .Establishment_bead_outer {
    left: 7%;
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .Establishment_content {
    color: #5B3524;
    position: absolute;
    top: 100%;
    right: 1rem;
    padding-bottom: 0;
    padding-top: 1rem;
    opacity: 0;
  }

  .Establishment_timeline_comment {
    font-size: 15px;
    width: 300px;
    width: 60%;
    margin-bottom: 1rem;

  }

  .Establishment_timeline_heading {
    font-size: 45px;
    margin-bottom: 0rem;
    font-weight: 400;
    padding-top: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .Establishment_timeline_year {
    font-size: 30px;
    color: #5B3524;
    opacity: 0;
    position: absolute;
    top: 5rem;
    left: 28%;
  }

  .Establishment_section{
    margin-bottom: 16rem;
  }

  // .section:last-child .content {
  //   top: 105%;
  // }

  // .section:nth-child(5) .content {
  //   top: 86%;
  // }

  // .section:nth-child(6) .content {
  //   top: 90%;
  // }

  // .section:nth-child(10) .content {
  //   top: 90%;
  // }
}

@media (max-width : 475px) {
  .Establishment_bead_outer{
    height: 30px;
    left: 8%;
    width: 30px;
  }
  .Establishment_header{
    font-size: 30px;
  }

  .Establishment_content{
    padding-top: 2rem;
  }
}

@media (max-width: 420px) {
  /* .timeline_comment {
    font-size: 15px;
    width: 220px;
    margin-bottom: 1rem;
  }
  .timeline_year {
    font-size: 30px;
    color: #000000;
    opacity: 0;
    position: absolute;
    top: 8rem;
    left: 30%;
  } */

  .Establishment_content{
    padding-top: 3rem;
  }
}

@media (max-width : 375px) {
  .Establishment_timeline_year {
    left: 30%;
  }
  .Establishment_bead_outer{
    left: 7%;
  }
  .Establishment_content{
    padding-top: 4rem;
  }
}
@media (max-width : 345px) {
  .Establishment_content{
    padding-top: 5rem;
  }
}


@media (max-width: 320px) {
  .Establishment_timeline_comment {
    font-size: 15px;
    width: auto;
    margin-bottom: 1rem;
  }


  .Establishment_bead_outer {
    left: 5%;
    display: flex;
    position: absolute;
    justify-content: center;
  }


}