@import "../../app/variables.scss";
@import "../../fonts/fonts.scss";
.productMainContainer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  overflow: hidden;
  margin-bottom: -135px;
  padding-top: 150px;
  // padding: 0px 0 0px 0;
  // margin: 0px 0 -65px 0;

  @media (min-width : 991px) and (max-width : 1900px) {
      overflow-x: hidden;
  }
  @media(max-width: 991px){
    margin-bottom: 0rem;
  }

  // @media (max-width : 991px) {
  //     margin: 0;
  //     padding:  0 0 30px 0;
  // }
}

.productMain {
  position: relative;
  /* Add this to ensure positioning of the border element */

  .productHeader {
      text-align: center;
      font-size: 50px;
      letter-spacing: 5px;
      text-transform: uppercase;

      .productHeaderInner {
          font-family: "safira_march";
      }

      @media (max-width: 575px) {
        font-size: 25px;
    }
    @media (max-width: 475px) {
      font-size: 22px;
  }
  }

  .productNumber {
      text-align: right;
      font-size: 350px;
      opacity: 50%;
      /* font-family: "made_mirage_thin"; */
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px;
      color: black;
      margin-right: -80px;

      @media (max-width: 991px) {
          display: none;
      }
  }

  .productDescription {
      padding: 0 80px;
      width: 50%;
      transform: translate(10px, -200px);
      position: relative;
      /* Ensure relative positioning for the border */

      @media (max-width: 991px) {
          width: 100%;
          padding: 0px;
          transform: translate(10px, 10px);
      }

      .productDescriptionBorder {
          position: absolute;
          top: -10px;
          left: 0;
          width: 0%;
          /* Start with width of 0% */
          height: 1px;
          background-color: #5B3524;
          z-index: -1;
          /* Ensure it is behind other content */
      }

      .productDescriptionHeader {
        font-size: 25px;
        text-transform: uppercase;
        font-family: "safira_march";

        @media (max-width: 991px) {
            padding: 20px;
        }
        @media(max-width: 475px){
            font-size: 17px;
          }
    }

      .productDescriptionContent {
          // font-family: "roobert_r";
          padding-top: 20px;
          font-size: 21px;

          @media (max-width: 991px) {
              padding: 0 20px;
          }
      }
  }
}
.first_top {
  // padding: 0px 0 100px 0;
  padding: 150px 50px 100px 50px;
  // overflow: hidden;
  @media(max-width: 1280px){
    padding: 0px 50px 100px 50px;
  }
  @media (max-width: 991px) {
    padding: 50px 0 100px 0;
  }
}
#sticky_top {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #ffeee2;
  color: $white;
  text-transform: uppercase;
  // padding: 50px 30px;

  @media (max-width: 575px) {
    padding: 1rem;
  }
  @media(max-width: 475px){
    top: -45px !important;
  }
  @media(max-width: 395px){
    top: -85px !important;
  }
  @media(max-width: 325px){
    top: -70px !important;
  }

  .products-tabs {
    display: flex;
    transition: all 0.5s ease;
    font-size: 20px;
    justify-content: center;
    // justify-content: space-around;
    padding: 30px 10rem 30px;

    @media (max-width: 1024px) {
      padding: 30px 0rem 30px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      // gap: 10px;
    }

    @media (max-width: 575px) {
      font-size: 14px;
      padding: 40px 0rem 30px;
      // flex-wrap: wrap;
      // gap: 10px;
    }

    @media (max-width: 475px) {
      font-size: 15px;
      flex-wrap: wrap;
      gap: 15px;
      padding: 110px 0rem 30px;
    }

    @media (max-width: 375px) {
      font-size: 15px;
      flex-wrap: wrap;
      gap: 15px;
      padding: 120px 0rem 30px;
    }
    @media (max-width: 330px) {
      font-size: 12px;
    }
    .tab-item {
      width: 25%;
      border: 1px solid $white;
      padding: 5px 0px;
      position: relative;
      overflow: hidden;
      color: $white;
      z-index: 1;
      display: flex;
      // background: #5B3524;
      color: white;
      justify-content: center;
      align-items: center;
      @media(max-width: 475px){
        width: 28%;
      }
      @media(max-width: 375px){
        padding: 5px 0px;
      }

      .tab-content-inner {
        position: relative;
        z-index: 100;
        // color: $white;
        transition: color 0.475s ease-out; // Smooth color transition
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e1c1a1;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform 0.475s ease-out;
        z-index: 99; // Ensure the hover background is below the text
      }

      &:hover {
        color: $white !important;
        z-index: 1;
        // cursor: pointer;

        &::before {
          transform: scaleX(1);
        }

        .tab-content-inner {
          color: $white !important;
        }
      }
    }
  }
}

.searchInput{
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #5b3524;
  font-family: "made_mirage_regular";
  font-size: 15px;
  color: #5b3524;
  @media(max-width: 1024px){
    padding-bottom: 10px;
  }
}
.noMatchFound {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #5b3524;
  margin-top: 20px;
  padding: 20px;
}

.products-tabs .tab-item.active {
  background-color: $white;
  color: white !important;
  z-index: 100;
}

// .input-container {
//   display: flex;
// }
#dropdownLabel{
  height: 120px;
  overflow-x: hidden;
  background-color: rgb(253 231 216);
  padding: 12px;
  border-radius: 6px;
  @media(min-width: 1500px){
    height: 200px;
  }
}
#dropdownLabel::-webkit-scrollbar {
  width: 4px;
  height: 680px;
  // margin-left: 10px;
}
#dropdownLabel::-webkit-scrollbar-thumb {
  display: block;
  overflow-y: auto;
  background-color: #5b3524;
}
#dropdownLabel::-webkit-scrollbar-track {
  background-color: #d9d9d91f;
  // margin-left: 20px;
}
.dropdown-label {
  // margin-bottom: 12px;
  // display: grid;
    /* flex-direction: column; */
    flex-wrap: wrap;
    // grid-template-columns: minmax(150px, auto) 1fr;
    // column-gap: 1rem;
  @media (max-width: 575px) {
    font-size: 15px;
    width: 15%;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 13px;
  }
  .colorSelectDropdown{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    @media(max-width: 1024px){
      display: none;
    }
  }
}
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  width: 100%;
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 1px solid #5b3524;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
  background-color: #5b3524;
  // box-shadow: 0 3px 7px rgb(91, 53, 36);
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}

.p-dropdown-panel {
  .p-dropdown-items-wrapper {
    max-height: 200px;
    margin-top: 3px;
    border: 1px solid $white;
    backdrop-filter: blur(20px);

    &::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar */
      height: 680px;
    }

    &::-webkit-scrollbar-track {
      background-color: #d9d9d91f; /* Scrollbar track color */
    }
  }

  .p-dropdown-item {
    padding: 2px 6px;
    transition: all 0.5s ease;
  }

  .p-dropdown-item:hover {
    background-color: $white;
    color: white;
  }
}

.category-select {
  padding: 5px 5px;
  border-bottom: 1px solid $white;
  font-size: 18px;

  @media (max-width: 575px) {
    padding: 8px 0px;
    gap: 1rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    padding: 10px 0px;
    gap: 1rem;
  }
}

.color-select {
  padding: 10px 10px;
  border-bottom: 1px solid $white;
  color: $white;

  @media (max-width: 575px) {
    padding: 8px 0px;
    gap: 1rem;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    padding: 10px 0px;
    gap: 1rem;
  }

  .color-select .p-dropdown-item {
    display: flex;
  }
}
.SizeProduct {
  border: 1px solid #5b3524;
  color: #5b3524;
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  @media(max-width: 1440px){
    padding: 4px 7px;
  }
  &.selected {
    background-color: #5b3524;
    color: #fff;
  }
}

.ThicknessProduct {
  border: 1px solid #5b3524;
  color: #5b3524;
  display: inline-block;
  padding: 7px 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  &.selected {
    background-color: #5b3524;
    color: #fff;
  }
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  // background-color: #FFEEE2;
  @media (max-width: 575px) {
    width: 33.33%;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    width: 33.33%;
  }

}

.products_name1 {
  text-align: center;
  font-size: 30px;
  margin: 180px 0 0;
  background-color: rgb(28, 33, 30);
  letter-spacing: 5px;
  color: rgba(89, 89, 89, 0.35);
  font-weight: 500;
  
  
  @media (min-width: 1600px) {
    font-size: 40px;
    // padding: 2rem 0;
  }
  @media (max-width: 575px) {
    font-size: 20px;
    padding: 1rem 0;
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 30px;
    // padding: 1rem;
  }
  
}
// .exploreCollection{
//   font-family: "safira_march"
// }
.exploreCollection {
  background-color: black;
  color: white;
  font-family: "safira_march";
  margin: 0 -50px;
  padding: 100px 0;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  @media (max-width: 991px) {
    margin: 0 -1rem;
    padding: 50px 50px;
    font-size: 30px;
  }
  @media(max-width: 768px){
    margin: 0 auto;
  }
  @media (max-width: 575px) {
    font-size: 22px;
    padding: 50px 40px;
  }
  @media (max-width: 475px) {
    font-size: 18px;
    padding: 50px 40px;
  }
  @media (max-width: 325px) {
    font-size: 16px;
    padding: 50px 40px;
  }
}
.resetFilters{
  padding: 0 0 10px;
  .resetButton {
    position: relative;
    overflow: hidden;
    height: 2.3rem;
    padding: 0 1rem;
    background-color: transparent;
    border: 1px solid #5B3524;
    border-radius: 5px;
    background-size: 400%;
    color: #5B3524;
    font-size: 18px;
    line-height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    .resetButton-content {
      font-size: 18px;
      font-weight: 550;
      text-transform: capitalize;
      position: relative;
      z-index: 1;
      transition: color 0.475s;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: 0 50%;
      width: 100%;
      height: inherit;
      border-radius: inherit;
      background: $white;
      transition: all 0.475s;
    }
    &:hover {
      .resetButton-content {
        color: white;
      }
      &::before {
        transform: scaleX(1);
        border-radius: inherit;
        
      }
    }
  }
}
.supply {
  display: flex;
  // justify-content: space-evenly;
  // padding: 0rem 5rem 0rem 5rem;
  gap: 4rem;
  @media (max-width: 575px) {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  @media (min-width: 1600px) and (max-width: 1920px) {
  }
}

#sticky {
  position: sticky;
  background-color: #ffeee2;
  width: 15%;
  top: 165px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1600px) {
    top: 220px;
    height: 100%;
    gap: 1rem;
  }
@media(max-width: 1330px){
  width: 20%;
}
@media(max-width: 1255px){
  width: 20%;
}
  @media (max-width: 1180px) {
    top: 165px;
    width: 18%;
  }
  @media (max-width: 1056px) {
    // top: 165px;
    width: 30%;
  }

  @media (max-width: 575px) {
    flex-direction: row;
    width: 100%;
    top: 110px;
    overflow-y: auto;
    padding: 0 0 20px 0;
    z-index: 5;
  }

  @media (max-width: 560px) {
    top: 150px;
    z-index: 5;
  }

  @media (max-width: 465px) {
    top: 200px;
  }

  // @media (max-width: 330px) {
  //   top: 170px;
  // }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    flex-direction: row;
    top: 145px;
    width: 100%;
    overflow-y: auto;
    padding: 0 0 30px 0;
    z-index: -1;
  }
}
.product_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 18px;

  @media (max-width: 575px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 18px;
  }

  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    width: 100%;
  }

  .AboutUs_product {
    position: relative;
    // overflow: hidden;
    cursor: pointer;
    .ProductImage {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    @media (max-width: 575px) {
      display: block;
      justify-content: center;
    }

    .overlay {
      position: absolute;
      bottom: 2px;
      width: 100%;
      display: flex;
      text-align: center;
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 0.3s ease, transform 0.3s ease;
      color: #fff;
      font-size: 1.5rem;
      background: rgb(42 42 42 / 50%);
      cursor: pointer;
      align-items: center;
      padding: 5px 0;
      justify-content: center;

      // @media (max-width : 1440px) {
      //   left: 5%;
      // }

      // @media (max-width : 1245px) {
      //   left: 10%;
      // }

      // @media (max-width : 1150px) {
      //   left: 7%;
      // }

      // @media (max-width : 1100px) {
      //   left: 4%;
      // }

      // @media (max-width : 1025px) {
      //   left: 1%;
      // }

      // @media (max-width : 991px) {
      //   padding: 5px;
      //   left: 2%;
      // }
      // @media (max-width : 955px) {
      //   left: 8%;
      // }

      // @media (max-width : 855px) {
      //   left: 6%;
      // }
      // @media (max-width : 768px) {
      //   left: 10%;
      //   font-size: 18px;
      // }
      // @media (max-width : 575px) {
      //   left: 20%;
      // }

      // @media (max-width : 475px) {
      //   left: 15%;
      // }

      // @media (max-width : 400px) {
      //   left : 8%;
      // }

      // @media (max-width : 320px) {
      //   left: 26%;
      // }
    }

    &.big .overlay {
      // left: 30%;
      width: 100%;
      text-align: center;
      justify-content: center;

      @media (min-width: 1600px) {
        // bottom: 110px;
      }

      // @media (max-width : 1245px) {
      //   left: 10%;
      // }

      // @media (max-width : 1150px) {
      //   left: 7%;
      // }

      // @media (max-width : 1100px) {
      //   left: 4%;
      // }

      @media (max-width: 1025px) {
        bottom: 25%;
      }

      // @media (max-width : 575px) {
      //   left: 35%;
      // }
      // @media (max-width : 320px) {
      //   left: 28%;
      // }
    }

    &:hover .overlay {
      opacity: 1;
      transform: translateY(0); /* Move to final position */
    }
  }
}
.aboutUsProductSvg {
  padding: 20px 0 0 0;
}

.product_container div {
  overflow: hidden;
  font-size: 22px;
  @media (max-width: 575px) {
    display: flex;
    justify-content: center;
  }
}

.wide {
  grid-column: auto;
}
.tall {
  grid-row: auto;
}
.big {
  grid-column: auto;
  overflow: hidden;
  grid-row: auto;

  @media (max-width: 1275px) {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  @media (max-width: 1025px) {
    grid-column: span 2 !important;
    grid-row: span 2 !important;
  }

  @media (max-width: 767px) {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  @media (max-width: 580px) {
    grid-column: span 2 !important;
    grid-row: span 2 !important;
  }
  @media (max-width: 375px) {
    grid-column: auto !important;
  }
}

/* Media Query Start for Mobile phones */
@media (min-width: 300px) {
  .product_container {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
    grid-gap: 16px;
  }
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .product_container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 16px;
  }
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (max-width: 400px) {
  .product_container {
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  }
}

.color_dropdown {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 12px;
  margin-bottom: 12px;
  @media (min-width: 1600px) and (max-width: 1920px) {
    // column-gap: 22px;
    // row-gap: 17px;
    column-gap: 10px;
    row-gap: 12px;
  }
  @media(max-width: 1360px){
    column-gap: 4px;
  }
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7,
.color8 {
  width: 30px;
  height: 25px;
  cursor: pointer;
  @media (min-width: 1600px) and (max-width: 1920px) {
    width: 40px;
    height: 26px;
  }
}

.color1 {
  background-color: red;
  // border: 2px solid white;
} 

.color2 {
  background: #8FB1C3;
  // border: 2px solid rgba(254, 197, 84, 1);
}

.color3 { 
  background-color: green;
  // border: 2px solid rgba(89, 89, 89, 1);
}

.color4 {
  background-color: #F5F5DC;
  // border: 2px solid rgba(149, 254, 84, 1);
}

.color5 {
  background-color: #5b3524;
  // border: 2px solid rgba(90, 59, 12, 1);
}

.color6 {
  background-color: #E9566F;
  // border: 2px solid rgba(84, 213, 254, 1);
}

.color7 {
  background-color: #915E1D;
  // border: 2px solid rgba(226, 20, 131, 1);
}

.color8 {
  background-color: #fff;
  // border: 2px solid rgba(179, 179, 179, 1);
}

.color1:hover,
.color2:hover,
.color3:hover,
.color4:hover,
.color5:hover,
.color6:hover,
.color7:hover,
.color8:hover {
  // border: 2px solid rgb(255, 255, 255);
  filter: brightness(80%);
}
.css-wjh20t-MuiPagination-ul {
  justify-content: center !important;
  align-items: center !important;
  padding: 50px 0 !important;
  }
  .css-nhb8h9{
    justify-content: center !important;
    padding: 50px 0 !important;
  }
.AnchorTag{
  a{
    color: white;
  }
}
.skeleton-loader {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust columns based on screen size */
  gap: 16px;
}

.skeleton-item {
  background-color: #ddd;
  border-radius: 8px;
  height: 300px; /* Adjust height based on your design */
  animation: skeleton-animation 1.5s infinite ease-in-out;
}

@keyframes skeleton-animation {
  0% {
    background-color: #ddd;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #ddd;
  }
}

.designCodeContainer {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #5b3524;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}

.pagination-container {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination-stack {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}