.Card-Grid-MainContainer {
  padding-top: 6rem;
  .Card_MainTitle {
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 30px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 30px;
        background-color: white;
        z-index: 1;
    }
  .Card_MainTitle_text {
    font-size: 40px;
    font-weight: 600;
  }
}
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    @media(max-width: 575px){
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .card {
      padding: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media (max-width: 575px) {
        padding: 45px 20px;
      }

      .card-icon {
        width: 70px;
        height: 70px;
        margin-bottom: 16px;
      }

      .card-title {
        font-size: 18px;
        font-weight: 900;
        color: #000000;
        margin-bottom: 8px;
      }

      .card-description {
        font-size: 18px;
        color: #000000;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
