input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffeee2 inset !important;
  -webkit-text-fill-color: white !important;
}
.CareerMainContainer {
  padding-top: 10rem;
  @media (max-width: 575px) {
    padding-top: 6rem;
  }
  .CareerMainContainerText {
    font-size: 40px;
    // color: #ffbc37;
    text-align: center;
    padding-bottom: 5rem;
    font-weight: 500;
    @media (max-width: 425px) {
      padding-bottom: 2rem;
      font-size: 30px;
    }
  }

  .SearchMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 425px) {
      flex-direction: column;
      padding: 0 20px;
      justify-content: left;
      align-items: flex-start;
    }

    .inputContainer {
      position: relative;
      // width: 480px;
      @media (max-width: 425px) {
        width: 100%;
      }
    }

    .searchIcon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .input {
      // max-width: 100%;
      width: 450px;
      background-color: transparent;
      // color: white;
      font-size: 20px;
      padding: 0.15rem 0.5rem 0.15rem 3rem;
      min-height: 45px;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #5b3524;
      @media (max-width: 768px) {
        width: 100%;
      }

      /* Hide default clear button */
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    .close-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #5b3524;
      width: 20px;
      height: 20px;
    }

    .close-icon {
      width: 20px;
      height: 20px;
    }
  }
  .JobsearchMain {
    max-height: 540px; /* Set your desired height */
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1rem;
    @media(max-width: 575px){
      margin-top: 2rem;
    }

    .JobmainContainer {
      padding: 20px 200px;
      @media (max-width: 1024px) {
        padding: 20px 60px;
      }
      @media(max-width: 575px){
        padding: 0 30px;
      }
      @media(max-width: 375px){
        padding: 0 20px;
      }
      .JobExpmain {
        padding: 15px 0;
        border-bottom: 1px solid #5b3524;
      }
      .JobExpmainInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 575px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .JobTitle {
          padding: 10px 0;
          font-size: 40px;
          text-transform: capitalize;
          @media(max-width: 575px){
            font-size: 28px;
          }
        }
        .JobExpText {
          font-size: 20px;
          text-transform: capitalize;
        }
        .JobOpenings {
          font-size: 20px;
          @media(max-width: 575px){
            padding-bottom: 1rem;
          }
        }
        .ApplyBtn {
          border-radius: 5px;
        }
      }
    }
    .NoJobs {
      margin: 0 auto;
      text-align: center;
      font-size: 25px;
      padding: 50px 0;
    }
  }
  .SecondTextContainer {
    padding: 0 200px;
    @media (min-width: 1500px) {
      padding: 0 250px;
    }
    @media (max-width: 1199px) {
      padding: 0 100px;
    }
    @media (max-width: 991px) {
      padding: 0 50px;
    }
    @media (max-width: 575px) {
      padding: 0 25px;
    }
    .SecondTextContainerInner {
      padding-top: 5rem;
      font-size: 55px;
      line-height: 1.5;
      // color: white;
      font-weight: 500;
      padding-bottom: 30px;
      @media (max-width: 1199px) {
        font-size: 50px;
      }
      @media (max-width: 575px) {
        font-size: 40px;
      }
      @media (max-width: 425px) {
        font-size: 30px;
      }
    }
    .SecondTextContainertext {
      font-size: 22px;
      font-weight: 400;
      width: 80%;
      @media (min-width: 1500px) {
        width: 60%;
      }
      @media (max-width: 575px) {
        width: 100%;
      }
      @media (max-width: 425px) {
        font-size: 19px;
      }
      .ThirdText {
        padding-top: 2rem;
      }
    }
    .TwoCardsSection {
      padding-top: 4rem;
    }
  }

  ::-webkit-scrollbar {
    width: 12px !important; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background-color: #d9d9d91f; /* Background of the scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5b3524;
  }

}
