@import "./variables.scss";
@import "../fonts/fonts.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: $white;
  transition-property: opacity, transform, filter, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
  overflow-x: hidden;
}
.page_transition{
  opacity: 0;
  background-color: $black;
  transform: translateY(40px);
  filter: blur(12px);
}
h1 {
  font-family: "made_mirage_regular";
}
h2 {
  font-family: "made_mirage_regular";
}
h3 {
  font-family: "made_mirage_regular";
}
h4 {
  font-family: "made_mirage_regular";
}
h5 {
  font-family: "made_mirage_regular";
}
h6 {
  font-family: "made_mirage_regular";
}
a {
  font-family: "made_mirage_regular";
}
div {
  font-family: "made_mirage_regular";
}
button {
  font-family: "made_mirage_regular";
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "made_mirage_regular";
  li {
    font-family: "made_mirage_regular";
  }
} 

input {
  font-family: "made_mirage_regular";
}
textarea {
  font-family: "made_mirage_regular";
}
