.TextAnimFirst {
  font-size: 50px;
  @media (max-width: 768px) {
    font-size: 10px;
  }
  .TextAnimSec {
  }
}
.word-wrapper {
  // font-size: 200px;
  // line-height: 160px;
  // font-size: 180px;
  // line-height: 160px;
  // font-size: 135px;
  //   line-height: 219px;
  // font-size: 115px;
  //   line-height: 195px;
  font-size: 90px;
  line-height: 152px;
    font-family: "safira_march";
// font-family: "safira_march";
  // font-family: "made_mirage_thin";
  @media(min-width: 1550px){
    font-size: 115px;
    line-height: 195px;
  }
  @media(max-width: 1440x){
    font-size: 90px;
    line-height: 152px;
  }
  @media(max-width: 1300px){
    font-size: 90px;
    line-height: 152px;
  }
  @media (max-width: 1024px) {
    // font-size: 160px;
    // line-height: 125px;
    font-size: 90px;
    line-height: 152px
  }
  @media (max-width: 991px) {
    // font-size: 160px;
    // line-height: 125px;
    font-size: 90px;
        line-height: 152px;
  }
  @media (max-width: 768px) {
    // font-size: 150px;
    // line-height: 140px;
    font-size: 78px;
    line-height: 135px;
    
  }
  @media (max-width: 600px) {
    // font-size: 150px;
    // line-height: 140px;
    font-size: 70px;
    line-height: 120px;
  }
  @media (max-width: 540px) {
    // font-size: 150px;
    // line-height: 140px;
    font-size: 50px;
    line-height: 88px;
    @media (max-width: 400px) {
      // font-size: 150px;
      // line-height: 140px;
      font-size: 40px;
      line-height: 70px;
    }
  }
  // @media (max-width: 768px) {
  //   font-size: 80px;
  //   line-height: 65px;
  // }
  // @media (max-width: 768px) {
  //   font-size: 50px;
  //   line-height: 45px;
  // }
}
