@import "../../../app/variables.scss";
@import "../../../fonts/fonts.scss";

.yello_btn {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 3rem;
  // background: $skin;
  background-color: transparent;
  border: 1px solid #5B3524;
  border-radius: 5px;
  text-transform: uppercase;
  background-size: 400%;
  color: #5B3524;
  // border: none;
  font-size: 18px;
  line-height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  .button-content {
    font-size: 25px;
    font-weight: 550;
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: #5b35245b;
    transition: all 0.475s;
  }
  &:hover {
    &::before {
      transform: scaleX(1);
      border-radius: inherit;
      
    }
  }
}
