@import "../../app/variables.scss";

.ply_marquee {
  .filter_wrapper {
    display: flex;
    justify-content: space-between;
    // padding: 0 150px 0 60px;
    padding: 0 114px 0 125px;
    @media(max-width: 1199px){
      padding: 0 114px 0 80px;
    }
    @media (max-width: 991px) {
      padding: 0 60px 0 40px;
    }
    @media (max-width: 767px) {
      padding: 0 40px 0 20px;
      flex-wrap: wrap;
    }
    @media (max-width: 575px) {
      padding: 0 20px 0 20px;
    }
    .filter {
      width: 22%;
      border-bottom: 1px solid $white;
      font-size: larger;
      @media (max-width: 767px) {
        width: 48%;
        margin: 0 0 40px;
      }
      .p-dropdown.p-component.p-inputwrapper {
        padding: 0 0 10px;
        justify-content: space-between;
        width: 95%;
      }
    }

    .r3f_marquee{
      min-width:0 !important
    }
  }


  .ply_list {
    padding: 150px 0 100px;
    @media (max-width: 991px) {
      padding: 100px 0;
    }
    @media (max-width: 575px) {
      padding: 50px 0;
    }
    .ply_item {
      display: inline-block;
      padding: 0 20px;
      cursor: pointer;
      @media (max-width: 575px) {
        padding: 0 10px;
      }
      &:hover {
        .ply_info {
          transform: translateY(-20px);
          opacity: 1;
        }
      }

      img{
        width:100%

      }

      .ply_info {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(80px);
        opacity: 0;
        transition: all 0.4s;
        position: relative;
        z-index: -1;
        .info_left {
          border: 1px solid $white;
          padding: 5px 20px;
          .num {
            font-size: 20px;
            text-transform: uppercase;
          }
          .text {
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
          }
        }
        .info_right {
          border-left: 1px solid $white;
          margin-left: 12px;
          padding: 5px 0 5px 11px;
          .ply_name {
            font-size: 20px;
            text-transform: uppercase;
          }
          .ply_wood {
            font-size: 16px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
.p-dropdown-items-wrapper {
  max-height: 100% !important;
  width: 100% !important;
}
ul.p-dropdown-items {
  background-color: $white;
  color: $black;
  padding: 5px 10px 10px;
  li {
    padding: 5px 10px;
    font-size: 18px;
    border-bottom: 1px solid $black;
    width: 100%;
    margin: 0 auto;
    transition: all 0.4s;

    @media (max-width: 767px) {
      padding: 5px;
      font-size: 15px;
    }

    &:hover {
      background-color: $yellow;
    }
  }
}
